* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
}
nav .logo a span {
  color: #ff004f;
  transition: all 0.3s ease;
}
nav.sticky .logo a span {
  color: #fff;
}
.logo {
  width: 140px;
}
.container-menu {
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.menu .fa-bars {
  float: right;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-text h1 span {
  color: #ff004f;
}
/* about section styling */
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 80%;
  border-radius: 10px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 45px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: underline;
}
.text {
  margin-top: 25px;
}
.text span {
  color: yellow;
}
.intro {
  margin-top: 35px;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #b54769;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* education section styling */
/* .box span {
  background-color: black;
  color: white;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
}
.box i {
  background-color: yellow;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
  font-size: 24px;
}
.box {
  display: flex;
  margin-left: 100px;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}
.box-h3 {
  word-wrap: normal;
} */
.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  padding-left: 3rem;
}

.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #fff;
  position: relative;
}

.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.education .box-container .box h3 {
  font-size: 1.563rem;
  color: #fff;
  padding-top: 1.5rem;
}

.education .box-container .box p {
  font-size: 1.125rem;
  color: #fff;
  padding: 1rem 0;
}

.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #ffff00;
}
.education .box-container .box .fa-graduation-cap {
  color: #610c04;
}
/* skills section styling */
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: crimson;
  background: none;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.skills-content .right .c::before {
  width: 80%;
}
.skills-content .right .python::before {
  width: 80%;
}
.skills-content .right .js::before {
  width: 60%;
}
.skills-content .right .web::before {
  width: 70%;
}
.skills-content .right .mysql::before {
  width: 60%;
}
.stext {
  margin-top: 50px;
  font-size: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.card {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  background-color: grey;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  text-align: center;
}
.card img {
  height: 120px;
  width: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card span {
  margin-top: 30px;
  color: black;
}
/* Contact section styling */
.cont {
  margin-top: 42px;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  margin-right: 15px;
  font-size: 25px;
}
.btn.btn2 {
  display: inline-block;
  background-color: #ff004f;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.contact-right form .btn button:hover {
  color: crimson;
  background: none;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
/* Social section styling */
.social {
  margin-top: 40px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.social a {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  margin: 10px;
  line-height: 30px;
}
.social a i {
  transition: all 0.3s linear;
}
.social a:hover i {
  transform: scale(1.4);
}
.social .fa-instagram {
  color: #e84393;
}
.social .fa-linkedin {
  color: #0e76a8;
}
.social .fa-x-twitter {
  color: #000000;
}
.social .fa-facebook {
  color: #0e76a8;
}
.social .fa-telegram {
  color: #0097e6;
}
/* Footer section styling */
footer {
  height: 45px;
  background: #111;
  padding: 15px 23px;
  color: #fff;
  justify-content: center;
  text-align: center;
}
footer span a {
  color: crimson;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
/* media responsive queries */
nav .fas {
  display: none;
}
.menu .fa-xmark {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  .menu .fa-xmark {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-xmark {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 30px;
  }
  .about-col-1 .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
}

/* Responsive media queries */

/* Tablets (max-width: 992px) */
@media (max-width: 992px) {
  .max-width {
    padding: 0 30px;
  }

  .header-text h1 {
    font-size: 45px;
  }

  .navbar .menu {
    gap: 15px;
  }

  .about .row {
    flex-direction: column;
    text-align: center;
  }

  .about-col-1 img {
    width: 250px;
    margin-bottom: 20px;
  }

  .box-container {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 80%;
    margin-bottom: 20px;
  }

  .card-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 40%;
    margin: 10px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  /* Mobile Menu */
  nav .menu {
    position: fixed;
    top: 0;
    right: -200px;
    background: #111;
    height: 100vh;
    width: 200px;
    padding-top: 50px;
    flex-direction: column;
    transition: right 0.4s ease;
  }

  nav .menu li {
    display: block;
    margin: 20px;
  }

  nav .fa-bars {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  nav .fa-xmark {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    cursor: pointer;
  }

  /* Header */
  .header-text h1 {
    font-size: 36px;
  }

  .header-text p {
    font-size: 16px;
  }

  /* About */
  .about-col-1 img {
    width: 200px;
  }

  /* Skills Cards */
  .card {
    width: 70%;
  }

  /* Contact */
  .row {
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    width: 100%;
  }
}

/* Small Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .header-text h1 {
    font-size: 28px;
  }

  .sub-title {
    font-size: 28px;
  }

  .card {
    width: 90%;
  }

  .social a {
    font-size: 20px;
    margin: 0 8px;
  }

  footer {
    font-size: 12px;
  }
}
